.about-wrapper img{
   width: 40%;
   height: 40%;
   margin-right: 30px;
}




.about-wrapper{
    font-size: 30px;
}

.about-wrapper p{
    padding-top: 20px;
}
.about-wrapper p b{
    color: rgb(211,78,78);
}


@media only screen and (max-width:480px){
    .about-wrapper{
        font-size:30px;
    }
    .about-wrapper img{
        width: 100%;
        margin-bottom: 30px;
    }
}
