.content-wrapper{
    float: left;
    width: 700px;
    margin-right: 10px;
    background-color: rgb(211, 78, 78);
}


.content-wrapper h1{
    font-size: 110px;
    color: rgb(255, 255, 255);
}
.content-wrapper p{
    font-size: 50px;
    position: relative;
    top:-75px;
}


.content-wrapper .links{
    text-decoration: none;
    background-color: rgb(255,255,255);
    color: rgb(211,78,78);
    padding: 10px;
    position: relative;
    top: -40px;    
    margin:100px;
}
img{
    box-sizing: border-box;
    height: 600px;
    width: 600px;
    float: left;
}

@media  only screen and (max-width:480px) {    

    .content-wrapper{
        max-width: 500px;
    }

    .content-wrapper .links{
       display: flex;
       flex-direction: column;
       position: relative;
       left:70px;
        width: 100px;
    }
    img{
        width: 480px;
        height: 480px;
    }

}