

html,body{
    overflow-x: hidden;
}
.contact-wrapper{ 
    height: 400px;
}

.contact-wrapper img{
    position: relative;
    left: 30%;
    top: 60%;
    margin: 10px;
    height: 60px;
    width: 60px;
}