.content-wrapper{
    border: 1px solid red;
    float: left;
    width: 700px;
    margin-right: 10px;
    background-color: rgb(211, 78, 78);
}


.content-wrapper h1{
    font-size: 110px;
    color: rgb(255, 255, 255);
}
.content-wrapper p{
    font-size: 50px;
    position: relative;
    top:-75px;
}


.content-wrapper .link{
    text-decoration: none;
    border: 1px solid rgb(255,255,255);
    background-color: rgb(158, 242, 167);
    border-radius: 50px;
    color: rgb(0,0,0);
    padding: 10px;
    position: relative;
    top: -40px;
    font: bold 20px 'Roboto',sans-serif;
}
img{
    box-sizing: border-box;
    height: 600px;
    width: 600px;
    float: left;
}