*{
    font-family: 'Roboto', sans-serif;
}

.header-wrapper{
    box-sizing: border-box;
    height: 90px;
    padding: 35px;
    display: flex;
    align-items: center;
  
}




.links .link{
    box-sizing: border-box;
    text-decoration: none;
    margin: 130px;
    color: black;
}


@media only screen and (max-width:700px) {
    .header-wrapper{
        display: block;
        padding: 0;
    }

    .header-wrapper h1{
        padding-left: 15px;
    }
    .links .link{
        margin: 35px;
    }
}




