.photos-wrapper{
    font-size: 20px;
}

.photos-wrapper .link{
    text-decoration: none;
    color: rgb(211, 78, 78);
}


.photos-wrapper img{
    margin: 34px;
}


@media  only screen and (max-width:480px) {   
    .photos-wrapper img{
        margin-left: 10px;
        height: 400px;
        width: 480px;
    }
 }


