

.work-wrapper .works{
    display: flex;
    border: 1px solid rgb(255,255,255);
    border-radius: 20px;
    flex-direction: column; 
    float: left;
    max-width: 350px;
    margin: 35px;
    padding: 10px;
   box-shadow: 0 0 20px rgb(121, 120, 120);
}

.work-wrapper .works a{
    text-decoration: none;
}

.work-wrapper .works img{
    
    height: 300px;
    width: auto;
}

@media only screen and (max-width:480px){
   

    .work-wrapper .works{
        position: relative;
        left: 20px;
        width: 100%;
        font-size: 10px;
        padding: 5px;
    
       
    }

    .work-wrapper .works h1{
        font-size: 20px;
    }

    .work-wrapper .works p{
        font-size: 15px;
    }

    .work-wrapper .works img{
    
        height: 250px;
        width: auto;
    }
}