

.work-wrapper .works{
    display: flex;
    border: 1px solid rgb(255,255,255);
    border-radius: 20px;
    flex-direction: column; 
    float: left;
    max-width: 350px;
    margin: 35px;
    padding: 10px;
   box-shadow: 0 0 20px rgb(121, 120, 120);
}



.work-wrapper .works img{
    
    height: 300px;
    width: auto;
}

@media only screen and (max-width:700px){
    .work-wrapper{
        margin-left: 25px;
    }
    .work-wrapper .works{
        max-width: 175px;
        font-size: 15px;
        margin: 10px;
        padding: 5px;
        max-height: 300px;
       
    }
    .work-wrapper .works h1{
        margin-left:30px;
    }

    .work-wrapper .works p{
        display: none;
    }

    .work-wrapper .works img{
    
        height: 150px;
        width: auto;
    }
}